* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(./assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top center;
  background-color: #121214;
  color: white;

}

body *, :root {
  font-family: "Inter";
  line-height: 160%;
}

header {
  padding-top: 2rem;
  text-align: center;
}

header img {
  width: 15rem;
}

main {
  max-width: 36rem;
  width: 90%;
  margin: 3rem auto;
}

section{
background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50%, #E2D45C 100%);
border-radius: 0.625rem;
padding-top: 4px;
padding: 4px;
}

section > div {
  padding: 2rem;
  padding-top: 1.5rem;
  background-color: #2A2634;
  border-radius: 0.5rem;
}

section h2{
  letter-spacing: -0.47px;
}

section p{
  letter-spacing: -0.18px;
  color: #a1a1aa;
}

/*ANIMACAO*/
main section {
    opacity: 0;
    transform: translateY(2rem);

    animation-name: appear;
    animation-duration: 700ms;
    animation-fill-mode: forwards;
}

@keyframes appear{
  100%{
    opacity: 1;
    transform: translateY(0) ;
  }
}

